body{
    width: 960px;
    margin: auto;
    background-color: lightgreen;
    
}
.mnn {
    display: block;
  margin: auto;
  
}

header nav ul li {
display: inline;
padding: 30px;

}

header nav ul{

text-align: center;
}

p{
    line-height: 30px;
}


main ul li:nth-child(odd)
{
    text-align: center;
    background-color: rgb(95, 32, 178);
    font-size: large;
    margin: auto;
}

main ul li:nth-child(even)
{
    text-align: center;
    background-color: rgb(90, 178, 32);
    font-size: large;
    margin: auto;
}