body{
    width: 960px;
    margin: auto;
background-color: beige;
}
.mnn {
    display: block;
  margin: auto;
  height: 200px; width: 200px;

}

header nav ul li {
display: inline;
padding: 30px;

}

header nav ul{

text-align: center;
}

p{
    line-height: 30px;
}


main ul li:nth-child(odd)
{
    text-align: center;
    background-color: rgb(216, 144, 95);
    font-size: large;
    margin: auto;
}

main ul li:nth-child(even)
{
    text-align: center;
    background-color: rgb(214, 198, 177);
    font-size: large;
    margin: auto;
}

.aa li:nth-child(odd){

    background-color: rgb(134, 178, 32);
    font-size: large;
    margin: auto;


}


.aa li:nth-child(even){

    background-color: rgb(118, 121, 80);
    font-size: large;
    margin: auto;


}


h3{
    margin: auto;

    text-align: center;
}